<body class=" __plain_text_READY__">
    <div id="shade"></div>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul>
          <li><strong>欢迎 王君</strong></li>
          <li>
            <form action="/logOut" method="get">
              <button class="btn btn-warning">退出登录</button>
            </form>
          </li>
          <li>
            <form action="/" method="get">
              <button class="btn btn-primary">返回首页   </button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div id="conten-box">
      <table class="table">
        <tbody><tr>
          <td id="content_title"><span>测试</span>
            <div><span>2018-10-10 21:50:12</span><span>王君</span></div>
          </td>
        </tr>
        <tr>
          <td><span class="user_content">测试        
            测试    
测试   测试
                               

        &lt;h1&gt;测试&lt;/h1&gt;
                        &lt;script type="text/javascript"&gt;console.log(111)&lt;/javascript&gt;</span>
            <button class="btn btn-danger btn-xs delete_content" type="button" data-dismiss="modal" style="float:right;margin:25px 0px 0 20px">删除</button>
            <div class="ico">
              <label>
                <input class="ico-click" type="checkbox">
                <div class="ico-1 content-ico"></div>
              </label><span>1</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="comment_box">
            <div class="switch">
              <button class="btn btn-block btn-xs">展开评论</button>
            </div><span class="user_comment">测试1</span>
            <div class="comments"><span style="display:none">7</span><span>2018-10-10 21:50:24</span><span>王君</span>
              <button class="btn btn-danger btn-xs delete-btn delete_comment" type="button" data-dismiss="modal">删除</button><span class="sumComments">2</span>
              <button class="btn_comments_Comments comment-btn btn btn-primary btn-xs" type="button">评论</button>
              <div class="ico">
                <label>
                  <input class="ico-click" type="checkbox" checked="">
                  <div class="ico-1"></div>
                </label><span>2</span>
              </div>
              <div class="commentsComments">
                <form class="form-horizontal" action="/add_commentsComments" method="post">
                  <div class="form-group">
                    <div class="nopadding">
                      <button class="btn btn-primary  btn-block" type="button">评论&nbsp;&nbsp;&nbsp;王君</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="nopadding">
                      <textarea class="form-control submit_text" rows="10" style="resize:none" name="content" autocomplete="off"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2  nopadding">
                      <button class="submit_content btn btn-success btn-block" type="submit">提交评论</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="comment_comment_box">
                <ul>
                  <li class="clone" style="display:none"><span></span><br><span></span>
                    <div class="reply_tip"><span style="float:right; margin:1px 15px 0 0"></span>
                      <button class="btn btn-xs  temp" type="button"></button>
                      <button class="btn btn-xs  btn-success lookTalk" type="button" style="display:none">查看对话</button>
                    </div>
                    <div class="reply_text" style="display:none">
                      <input type="text" maxlength="number">
                      <button class="btn btn-xs notClick " disabled="">提交</button>
                      <button class="btn btn-xs">取消</button><span style="display:none"></span>
                    </div>
                  </li>
                </ul>
                <ul class="lookTalk_container">
                  <li class="clone_lookTalk" style="display:none"><span></span><br><span style="font-size:16px"></span><br><span style="float:right"></span></li>
                </ul>
                <button class="return btn btn-primary" style="display:none" onclick="btn_return(this)">返  回</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="comment_box">
            <div class="switch" style="display:none">
              <button class="btn btn-block btn-xs">展开评论</button>
            </div><span class="user_comment">测试3</span>
            <div class="comments"><span style="display:none">9</span><span>2018-10-10 21:50:37</span><span>王君</span>
              <button class="btn btn-danger btn-xs delete-btn delete_comment" type="button" data-dismiss="modal">删除</button><span class="sumComments">0</span>
              <button class="btn_comments_Comments comment-btn btn btn-primary btn-xs" type="button">评论</button>
              <div class="ico">
                <label>
                  <input class="ico-click" type="checkbox">
                  <div class="ico-1"></div>
                </label><span>1</span>
              </div>
              <div class="commentsComments">
                <form class="form-horizontal" action="/add_commentsComments" method="post">
                  <div class="form-group">
                    <div class="nopadding">
                      <button class="btn btn-primary  btn-block" type="button">评论&nbsp;&nbsp;&nbsp;王君</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="nopadding">
                      <textarea class="form-control submit_text" rows="10" style="resize:none" name="content" autocomplete="off"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2  nopadding">
                      <button class="submit_content btn btn-success btn-block" type="submit">提交评论</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="comment_comment_box">
                <ul>
                  <li class="clone" style="display:none"><span></span><br><span></span>
                    <div class="reply_tip"><span style="float:right; margin:1px 15px 0 0"></span>
                      <button class="btn btn-xs  temp" type="button"></button>
                      <button class="btn btn-xs  btn-success lookTalk" type="button" style="display:none">查看对话</button>
                    </div>
                    <div class="reply_text" style="display:none">
                      <input type="text" maxlength="number">
                      <button class="btn btn-xs notClick " disabled="">提交</button>
                      <button class="btn btn-xs">取消</button><span style="display:none"></span>
                    </div>
                  </li>
                </ul>
                <ul class="lookTalk_container">
                  <li class="clone_lookTalk" style="display:none"><span></span><br><span style="font-size:16px"></span><br><span style="float:right"></span></li>
                </ul>
                <button class="return btn btn-primary" style="display:none" onclick="btn_return(this)">返  回</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody></table>
    </div>
    <div class="submit_content_box">
      <div id="arrows" onselectstart="return false"> <span>评论</span></div>
      <form class="form-horizontal" action="/add_comment" method="post">
        <div class="form-group">
          <div class="nopadding">
            <textarea class="form-control submit_text" rows="10" style="resize:none" name="content" autocomplete="off"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2  nopadding">
            <button class="submit_content btn btn-success btn-block" type="submit">提交评论</button>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-primary" style="display:none" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"></button>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal_tip">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="gridSystemModalLabel"><span></span></h3>
          </div>
          <div class="modal-body" style="font-size:18px; text-indent:20px;"><span></span></div>
          <div class="modal-footer">
            <button class="btn btn-block Close-modal" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/content.js">   </script>
  
<div id="cli_dialog_div"></div></body>